/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Egg-shell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
  --font-paragraph: 1rem;
  --font-400: 400;
  --font-600: 600;
  --font-700: 700;
  --young-serif: "Young Serif", serif;
  --outfit: "Outfit", sans-serif;
  --medium: 768px;
}

body {
  background: var(--Egg-shell);
  font-size: var(--font-paragraph);
  font-family: var(--outfit);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* mobile first */
.recipe-card-wrapper {
  max-width: 1100px;
  /* margin-inline: 0; */
}

.recipe-card-wrapper .recipe-card {
  background: var(--White);
  max-width: 450px;
  /* margin-inline: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.omelette-image-container {
  width: 100%;
  overflow: hidden;
}

.omelette-image-container img {
  width: 100%;
  height: auto;
}

.omelette-details-card {
  background: var(--White);
  width: 100%;
  padding: 1rem;
}

.omelette-intro .omelette-intro-header {
  margin-bottom: 1rem;
}

.omelette-intro .omelette-intro-header h3 {
  font-size: 2rem;
  font-family: var(--young-serif);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* desktop responsive styles */
@media (min-width: var(--medium)) {
  .recipe-card-wrapper {
    margin-inline: auto;
  }
}
